doctype 
html(lang='en')
head
  meta(charset='UTF-8') 
  title Document
  link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
  block css

  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='/bower_components/tinymce/tinymce.js')
  script(src='/bower_components/angular/angular.js')
  script(src='/bower_components/angular-ui-router/release/angular-ui-router.js')
  script(src='/bower_components/angular-resource/angular-resource.js')
  script(src="/bower_components/angular-ui-tinymce/src/tinymce.js")
  script(src='/javascript/app.js')
  block js

body(ng-app="app")
  include ./partials/navigation.jade
  block content
