nav.navbar.navbar-inverse
  div.container
    ul.nav.navbar-nav
      li
        a(ui-sref="home").
          Home
      li
        a(ui-sref="about").
          About
      li
        a(ui-sref="contact").
          Contact