div(ng-controller="PageDetailController")
  h2 Update Form
  form(ng-submit="savePost()")
    input.form-control(type="text" placeholder="title" ng-model="currentPage.title")
    textarea.form-control(placeholder="content" ng-model="currentPage.content")
    button.btn.btn-default Save


  scoped-form(page="currentPage" tinymceOptions="tinymceOptions")