.row(ng-controller="FirstController")
  .col-md-4
    .well
      ul.list-group
        page-list(ng-repeat="page in pages")
  .col-md-8
    div(ui-view="pageContent")
      .well
        em.text-muted Edit placeholder